body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    min-height: 100vh;
    color:rgb(0, 0, 0);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.features {
    border: 2px solid #000000;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

h1, h2, footer {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 3px 3px 6px #000000;
}

footer {
    margin-top: 30px;
    font-size: medium;
    color: aqua;
}